
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
body{
font-family: 'Dosis', sans-serif !important;

}
:root {
    --navbar-bg-color: hsl(0, 0%, 100%);
    --navbar-text-color: hsl(0, 0%, 0%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: #d65106;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
	z-index: 3;
}

header .container {
    max-width: 1040px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    font-family: 'Dosis', sans-serif;
    --navbar-height: 87px;
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    border-radius: 0px 0px 100px 100px;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.45);
    border-color: orange;
    border: 2px double orange;
    border-style: double;
    border-width: 0px 0px 3px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
	line-height: 1.80857
}

.home-link,
.navbar-link {
    color: var(--navbar-text-color);
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    transition: background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.home-link:focus,
.home-link:hover {
    color: var(--navbar-text-color-focus);
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 1.8em;
    border-radius: 5px;
    font-family: 'Dosis', sans-serif !important;
    font-size: 20px;
	font-weight: bold;
}

.navbar-link:focus,
.navbar-link:hover {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
    /* background-color: black;
    border-radius: 50%; */
    width: 30px;
    height: 30px;
    margin: 0 0.5em;
}

.navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
    background-color: var(--navbar-text-color);
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
    background-color: black;
}

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
}

.navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    transition: opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar.opened .navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

.navbar-links {
    list-style-type: none;
    font-family: 'Rubik', sans-serif;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
}

@media screen and (min-width: 700px) {
    .navbar-toggle {
        display: none;
    }

    #navbar .navbar-menu,
    #navbar.opened .navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    #navbar .navbar-links,
    #navbar.opened .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;
    }

    #navbar .navbar-link:last-child {
        margin-right: 0;
    }
}


#logo {

    background-image: url(../images/logo.png);
    width: 95px;
    height: 96px;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 700px) {
#navbar{
    height: 59px;
}
.navbar-container{
    width:94%;
}
}

.navbar-links{
    width: 89%;
}



.navbar-item {

    width: auto;
}

.navbar-logo {
    margin: -9px 0.5em;
}

 footer {
    display: block;
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
  }
  
  @media (min-width:576px) {
    .container {
        max-width: 540px
    }
  }
  
  @media (min-width:768px) {
    .container {
        max-width: 720px
    }
  }
  
  @media (min-width:992px) {
    .container {
        max-width: 960px
    }
  }
  
  @media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
  }
  
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
  }
  
  
  
  @media (min-width: 992px) {
    .large-inner {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
  }
  
  .footer-area {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #010101;
  }
  
  .footer-area .container {
    position: relative;
    z-index: 1;
  }
  
  .footer-area p a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none !important;
  }
  
  .footer-area p a:hover {
    color: #d65106;
  }
  
  .footer-area p {
    font-size:  17px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 10px;
  }
  
  .copyright {
    margin-top: 0px;
    position: relative;
    display: block;
    background-color: #010101;
    border-top: 1px solid rgba(207, 166, 113);
    padding: 30px 0;
    z-index: 1;
  }
  
  .copyright .company-name {
    font-size: 16px;
    text-align: center;
  }
  
  .copyright .company-name a {
    font-size: 16px;
  }
  
  .subscribe_form {
    display: block;
    text-align: center;
    padding: 5px 0;
}

.subscribe_form .form_input {
    display: block;
    background-color: rgba(0,0,0,0.9);
	border: 1px solid #ffffff;
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    padding: 0 10px;
    float: left;
	font-weight: 300;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.subscribe_form .submit {
    background-color: #d65106;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    display: inline-block;
    padding: 0 10px;
    float: left;
    width: 100%;
	border: none;
	cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-bottom: 20px;
}
.subscribe_form .submit:hover{
	background: #010101;
}

.f-social {
    padding-bottom: 10px;
    margin: 0px;
    margin-top: 20px;
}
.f-social li a {
    font-size: 18px;
    color: rgba(214, 81, 6);
	width: 38px;
	height: 38px;
	display: block;
	text-align: center;
	line-height: 38px;
	background: #ffffff;
	border-radius: 4px;
}

.copyright{
	margin-top: 20px;
	position: relative;
	display: block;
	background-color: #010101;
	border-top: 1px solid rgba(207, 166, 113);
	padding: 30px 0;
	z-index: 1;
}

.copyright .company-name{
	font-size: 16px;
	text-align: center;
}
.copyright .company-name a{
	font-size: 16px;
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
.list-inline-item {
    display: inline-block;
}

.about,.subscribe,.contact-info,.opening{
    padding:2.5%;
}
.footer-inner{
    margin: 0 !important;
}

@media screen and (max-width: 992px) {
    .about,.subscribe,.contact-info,.opening{
       width: 100% !important;
    }
  }

 .red::marker{
      display: none !important;
      color: transparent;
  }
  .green::marker{
    display: none !important;
    color: transparent;
}
.footer-area h3{
    color:#6a6f8c;
    font-size: 26px;
font-weight: 400;
margin: 0 0 20px;
}

.bg-f {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/footer-bg.jpg");
    background-attachment: scroll;
    background-clip: initial;
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.footer-area h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid rgba(207, 166, 113, 0.5);
  
}
.about{
    width:26% !important;
}

@media screen and (max-width: 662px) {
    .about{
        width:100% !important;
    }
    
}